@model DienMayQT.Models.KhuModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CashBill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cashbill.BillCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cashbill.BillCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product1.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product1.ProductName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Cashbill.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cashbill.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cashbill.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cashbill.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cashbill.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cashbill.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cashbill.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cashbill.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cashbill.Shipper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cashbill.Shipper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cashbill.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cashbill.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cashbill.GrandTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cashbill.GrandTotal)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cashbill.ID }) |
    @Html.ActionLink("Print", "Print") |
    @Html.ActionLink("Back to List", "Index")
</p>
