@model DienMayQT.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Giá bán
        </dt>

        <dd>
            @String.Format("{0:0,0} VNĐ", Model.SalePrice)
        </dd>

        <dt>
            Giá gốc
        </dt>

        <dd>
           @String.Format("{0:0,0} VNĐ", Model.OriginPrice)
        </dd>

        <dt>
           Giá trả góp
        </dt>

        <dd>
            @String.Format("{0:0,0} VNĐ", Model.InstallmentPrice)
        </dd>

        <dt>
           Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Hình đại diện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Mã loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.ProductTypeCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
