@model DienMayQT.Models.KhuModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
    
}
<!-- Custom styles for this template -->
<link href="~/Content/css/blog-post.css" rel="stylesheet">

<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">
        
        <!-- Title -->
        <h1 class="mt-4">Sản phẩm: @Html.DisplayFor(item => Model.Product1.ProductName)</h1>

        <hr>

        <!-- Date/Time -->
        <p>Posted on January 1, 2018 at 12:00 PM</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="@Url.Action("GetImgSrc", new { id = Model.Product1.ID })" />

        <hr>

        <!-- Post Content -->
        <p class="lead">Mã sản phẩm: @Html.DisplayFor(item => Model.Product1.ProductCode)</p>
        <p class="lead">Danh mục sản phẩm: @Html.DisplayFor(item => Model.Product1.ProductType.ProductTypeName)</p>
        <hr />
        <blockquote class="blockquote">
            <p class="mb-0">Giá bán: @Html.DisplayFor(item => Model.Product1.SalePrice)</p>
            <p class="mb-0">Giá trả góp: @Html.DisplayFor(item => Model.Product1.InstallmentPrice)</p>           
        </blockquote>
        <hr />
        <p>Số lượng hiện có: @Html.DisplayFor(item => Model.Product1.Quantity)</p>
        <hr>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">


        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Các sản phẩm khác</h5>
            <div class="card-body">
                @{ int RecommendCount = 0; }
                @foreach (var item in Model.Product)
                {
                    if (RecommendCount > 6)
                    {
                        break;
                    }
                    <div class="">
                       
                        @Html.ActionLink(item.ProductName, "Details", new { id = item.ID })
                        
                        -
                        <span class="text-right">
                            @Html.FormatValue(item.SalePrice, "{0:0,0} VNĐ")
                            </span>
                    </div>
                    RecommendCount++;
                        
                }
                
                
          </div>
        </div>

    </div>

</div>
<!-- /.row -->
@*<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallmentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallmentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductType.ProductTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.ProductTypeCode)
        </dd>

    </dl>
</div>*@
