@model IEnumerable<DienMayQT.Models.InstallmentBill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<p>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Create")'"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
</p>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Danh sách Hóa đơn
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover table-striped" id="BangSanPham">
            <thead>
                <tr>

                    <th>Action</th>
                    <th>
                        @Html.DisplayNameFor(model => model.BillCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Shipper)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Method)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Period)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrandTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Taken)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remain)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.CustomerCode)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'"><i class="fa fa-pencil" aria-hidden="true"></i></button><br />
                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.ID })'"><i class="fa fa-trash" aria-hidden="true"></i></button><br />
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Details", new { id = item.ID })'"><i class="fa fa-print" aria-hidden="true"></i></button>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BillCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Shipper)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Method)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Period)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GrandTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Taken)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remain)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.CustomerCode)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
        @section scripts {
            <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
            <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#BangSanPham').DataTable();
                });
            </script>
        }
